.listado-productos {
    background-color: #f3f3f3;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
}
.bg-white {
    background-color: #FFF;
}

@media(max-width: 448px) {
    .menuVisible{
        transform: translateY(0);
    }
}
@media(max-width: 448px) {
    .menuOculto{
        transform: translateY(10rem);
    }
}